
<div style="width:60rem;">
    <div class=" col-lg-12 " >
        <h1 class="txt-center">Edit Event</h1>
        <form action="" (ngSubmit)="editevent()"     >
            <div class="form-group row">
            <label for="" class="label col-lg-2 col-form-label">Event Name</label> <br>
            <input class="form-control col-lg-10" type="text" name="name" id="name" [(ngModel)]="eventItem.name"  placeholder="Event Name" required/><br>
            </div>
            <!-- event short detail -->
            <div class="form-group row">
            <label for="" class="label col-lg-2 col-form-label">Event Short Detail</label> <br>
            <ckeditor required [config]="{ extraPlugins: 'divarea', height: '100',width:'780' }" [(ngModel)]="eventItem.shortdetails"   name="shortdetails" id="shortdetails"   ></ckeditor>
            </div>

            <!-- event More detail -->
            <div class="form-group row">
            <label for="" class="label col-lg-2 col-form-label">Event More Detail</label> <br>
            <ckeditor required [config]="{ extraPlugins: 'divarea', height: '100',width:'780' }"  [(ngModel)]="eventItem.moredetails" name="moredetails" id="moredetails"    ></ckeditor>
            </div>

             <!-- Box2 detail -->
             <div class="form-group row">
             <label for="" class="label col-lg-2 col-form-label">Box 2</label> <br>
             <ckeditor required [config]="{ extraPlugins: 'divarea', height: '100',width:'780' }"  [(ngModel)]="eventItem.boxdetails" name="boxdetails" id="boxdetails"    ></ckeditor>
             </div>

             <!-- Coordinator Details -->
             <div class="form-group row">
             <label for="" class="label col-lg-2 col-form-label">Coordinators Details </label> <br>
             <ckeditor required [config]="{ extraPlugins: 'divarea', height: '100',width:'780' }"  [(ngModel)]="eventItem.coordinatorsdetail" name="coordinatorsdetail" id="coordinatordetails"    ></ckeditor>
             </div>

             <!-- Registration LInk -->
            <div class="form-group row">
            <label for="" class="label col-lg-2 col-form-label">Registration Link</label>
            <input class="form-control col-lg-10" type="text" name="registrationlink" id="registrationlink" [(ngModel)]="eventItem.registrationlink" placeholder="Registration Link" required/><br>
            </div>

             <!-- Broucher Link -->
            <div class="form-group row">
            <label for="" class="label col-lg-2 col-form-label">Brouchure Link</label>
            <input class="form-control col-lg-10" type="text" [(ngModel)]="eventItem.brouchurelink" name="brouchurelink" id="brouchurelink"  placeholder="Brouchure Link" required/><br>
            </div>

             <!-- Program Schedule -->
             <div class="form-group row">
             <label for="" class="label col-lg-2 col-form-label">Program Schedule</label>
             <input class="form-control col-lg-10" type="text" [(ngModel)]="eventItem.programschedule" name="programschedule" id="programschedule"  placeholder="Program Schedule" required/><br>
             </div>

              <!-- Speakers List -->
            <div class="form-group row">
            <label for="" class="label col-lg-2 col-form-label">Speakers List</label>
            <input class="form-control col-lg-10" type="text" [(ngModel)]="eventItem.speakerslist" name="speakerslist" id="speakerslist"  placeholder="Speakers List" required/><br>
            </div>

            <!-- Show button -->
            <div class="form-group row">
            <label for="" class="label col-lg-2 col-form-label">Show Button</label>
            <input class="form-control col-lg-2  form-check-input" type="checkbox" [(ngModel)]="eventItem.button" name="button" id="button"  required/><br>
            </div>

            <!-- Date -->
            <div class="form-group row">
            <label for="" class="label col-lg-2 col-form-label">Date</label>
            <input class="form-control col-lg-2  form-check-input" type="date" [(ngModel)]="eventItem.date" name="date" id="date"  required/><br>
            </div>

            <!-- event image -->
            <div class="form-group row" >
            <label for="" class="label col-lg-2 col-form-label">Image</label>
            <input class="form-control col-lg-10" type="file" (change)="selectImage($event)" [(ngModel)]="eventItem.image" name="image" id="image"   style="height: 2.6rem;"  placeholder="Image" required><br>
            </div>

             <!-- image Preview -->
            <div class=" col-md-12 ">
            <label for="PreviewAuthorImage" class="form-label  ">Image Preview&nbsp;</label><br>
            <span id="PreviewAuthorImage"></span>
            <img class="form-control" src="assets/images/{{imgPrev}}" style="width: 20em; height: 20em;" >
            </div> 

             <!-- add button -->
             <br>
             <div class="d-flex justify-content-center">
                <button type="submit" id="submit"  class="btn btn-outline-primary text-center addevent ">Update</button>
             </div>
            
        </form>
    </div>
</div>

